.btnlogin{
    border:none;
    border-radius: 5px;
    border-color: green;
    padding:10px 5px;
    color: rgb(255,255, 255);
    font-size: 20px;
    cursor:pointer;
    margin-left: 70%;
    margin-top:0.3%;
    width:15%;
}
.users{
    margin-top: 1.14%;
    margin-left: 3%;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap:40px;
    background-color: aliceblue;
    width:60%;
    padding:20px;
}